<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Summary</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
</head>
<body>
    <h1>Cart Summary</h1><!--yo page just for dynamic url for passing id only  -->
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Shoe Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% if cart and cart|length > 0 %}
                {% for item in cart %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <img src="{{ item.file }}" alt="Image for {{ item.name }}" width="100">
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">Your cart is empty.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</body>
</html>
